@import url(../style-2.css);

:root {
  user-select: none;
}

body {
  background-color: #2c2c2c;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  letter-spacing: 0.5em;
  position: absolute;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.mover {
  position: absolute;
  width: 100%;
  height: 40px;
  right: 0;
  left: 0;
  z-index: 3;
  cursor: pointer;
}

.mover:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.mover:active {
  background-color: rgba(0, 0, 0, 0.05);
}

.mover__top {
  top: 0;
}

.mover__bottom {
  bottom: 0;
}

.frame {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  /* --card-pos: 20%; */
  width: calc(500px + 2vw);
  height: 100%;
  gap: 1em;
  position: relative;
}

.card {
  --pos: 130%;
  min-width: 140px;
  min-height: 200px;
  width: calc(60vh - calc(0.1vh + 80px));
  height: 70vh;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 4px rgba(32, 18, 18, 0.5);
  transition: 1s 0.2s;
  transform-style: preserve-3d;
  position: absolute;
  left: 16%;
  top: 15%;
  transform: translateY(var(--pos));
  margin: 1em;
}

.card:hover {
  rotate: y 180deg;
}

.card .card__face {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
}

.card__offset-top {
  transform: translateY(-130%);
}

.card__offset-bottom {
  transform: translateY(130%);
}

.card__offset-default {
  transform: translateY(0) scale(1.2, 1.2);
}

.card__face--back {
  rotate: y 180deg;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card img:hover {
  cursor: pointer;
}

.gone {
  display: none;
}

@media screen and (max-width: 600px) {
  .carousel {
    width: 100%;
  }
}
